#**1. Explain the key features of Python that makes it a popular choice for programming.**
Python is a formal language for creating instructions or set of codes for a comuter to follow and execute.
Python is widely used due to the following features:

*   It contains a lot of libraries/set of codes.
*   It is easily readable and master able.
*   It is widely applicable, including scientific applications like data analytics.
*   It has a wide use in data industry.
*   It is doable on any system that supports python.   
*   It has a strong community support.
*   It has an image processing feature.
*   It is dynamic and a high level programming language.
*   It is free of charge and accessible.

#**2. Describe the role of predefined keywords in Python and provide example of how they are used in a program.**
Keywords: Keywords are predefined words that hold a special meaning and have specific purpose.
Keywords can be viewed in python with the below code:

--- help('keywords')

Keywords define the syntax of the code and are used to specify the type of system and cannot be used as variable names, function names, or the value of any other attribute.

In [1]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

#Example 1: Using if and else statement

In [3]:
if 68 > 60:
  print("68 is greater than 80")
else:
    print("68 is lesser than 60")

68 is greater than 80

#Example 2: Using the keywords 'for', 'if' and 'continue'

In [7]:
for a  in range(20):
  if a % 2 != 0:
   continue
  print(a)

0
2
4
6
8
10
12
14
16
18

#Example 3: Using the keyword 'break'

In [18]:
x = 10
y = 1
while y<x:
  print(y)
  y = y + 1
  if y == 6:
   break
else:
      print("I executed it successfully")

1
2
3
4
5

#**3. Compare and contrast mutable and immutable objects in Python with examples.**
*   Mutable objects' values can be changed after creation whereas immutable data type's values cannot be altered after creation.

*  Mutable objects has the same memory location even after the code's modification but in immutable objects any modifications can lead to an entirely different memory location.

* Mutable objects can be used when there is a recurrent need to modify data and immutable objects can be used maintain data unaltered and steady.

* Examples of mutable data types are lists, set, dictionaries.

* Examples of immutable data types are string, integer, type, float etc

#Example of Mutability(List):

In [2]:
list_cont = [1, 2, 3, 4, "Hyacinth", "ROSE", "PWSkills"]
print(list_cont)
list_cont[4]

[1, 2, 3, 4, 'Hyacinth', 'ROSE', 'PWSkills']

'Hyacinth'

Changing list_cont[5](from ROSE to Black Rose):

In [3]:
list_cont[5] = "Black Rose"
print(list_cont)

[1, 2, 3, 4, 'Hyacinth', 'Black Rose', 'PWSkills']

This example shows the mutability of a list container.

#Example of immutability:

In [4]:
a =  "Water"
a[0] = "H"

TypeError: 'str' object does not support item assignment

This will show and error as 'a' is an assigned immutable object.
'a' is a 'string' object(immutable) and doesn't support item assignment.

#**4. Discuss the different types of operators in Python and provide examples of how they are used.**
##Python Operators:
Python operators are special keywords/symbols that are used to perform operations on values or variables and to manage, compute and make decisions using data.

There are 7 types of python operators:

1.   Arithmetic operators
2.   Comparison operators
3.   Logical operators
4.   Bitwise operators
5.   Assignment operators
6.   Membership operators
7.   Identity operators


1. Arithmetic operators are sub-divided into 6 types:
*   Addition(+)
*   Subtraction(-)
*   Multiplication(*)
*   Division(/)
*   Modulus(%)
*   Exponentiation(**)
#Examples using a arithmetic operators:

In [1]:
a = 20
z = 21
print(a+z)
print(a-z)
print(a*z)
print(a/z)
print(a%z)
print(a**z)

41
-1
420
0.9523809523809523
20
2097152000000000000000000000

In [3]:
s = 3
q = 2
print(s + q)
print(s - q)
print(s * q)
print(s / q)
print(s % q)
print(s ** q)

5
1
6
1.5
1
9

2. Comparison operators: Comparison operators are used to compare between two values and after execution the output is a boolean value(True/False).
They are sub-divided into 6 types:
*   Equal to(==)
*   Not equal to(!=)
*   Greater than(>)
*   Less than(<)
*   Greater than or equal(>=)
*   Less than or equal(<=)
#Examples using comparison operators:

In [4]:
a = 20
z = 21
print(a==z)
print(a!=z)
print(a>z)
print(a<z)
print(a>=z)
print(a<=z)

False
True
False
True
False
True

In [5]:
s = 3
q = 2
print(s == q)
print(s != q)
print(s > q)
print(s < q)
print(s >= q)
print(s <= q)

False
True
True
False
True
False

In [6]:
r = 5
h = 5
print(r == h)
print(r != h)
print(r > h)
print(r < h)
print(r >= h)
print(r <= h)

True
False
False
False
True
True

3. Logical operators:
These are sub-divided into 3 types:

*   Logical AND
*   Logical OR
*   Logical NOT

True - 1
False - 0
##AND:
True and True   --- True

True and False  --- False

False and True  --- False

False and False --- False

1 and 1 --- 1

1 and 0 --- 0

0 and 1 --- 0

0 and 0 --- 0

##OR:
True and True   --- True

True and False  --- True

False and True  --- True

False and False --- False

1 and 1 --- 1

1 and 0 --- 1

0 and 1 --- 1

0 and 0 --- 0


##NOT:
NOT True  --- False

NOT False --- True

#Examples using logical operators:

In [7]:
a = 20
z = 21
print(a>b and b>a)
print(a>b or b>a)

False
True

In [13]:
 q = 200
 s = 200
 print(q>s and q<s)
 print(q>s or q<s)
 print(not q>s)
 print(not q<s)
 print(q==s)
 print(not q==s)

False
False
True
True
True
False

Bitwise operators: Operations performed at bit level, manipulating individual bits within an integer.
They are of 6 types:
*   Bitwise AND(&)
*   Bitwise OR(|)
*   Bitwise NOT(~)
*   Bitwise XOR(^)
*   Left shift(<<)
*   Right shift(>>)

Bitwise representation:

2^3   2^2   2^1   2^0

 0     0     0     1   ---  1  (2^0)

 0     0     1     0   ---  2  (2^1)

 0     0     1     1   ---  3  (2^1 + 1)

 0     1     0     0   ---  4  (2^4)

#Examples using bitwise operators:

In [1]:
10 & 10

10

In [26]:
bin(10)

'0b1010'

In [2]:
3 & 3

3

In [25]:
bin(3)

'0b11'

In [4]:
2 & 4

0

In [8]:
18 & 3

2

In [ ]:
bin(2)

In [9]:
18|3

19

In [19]:
bin(19)

'0b10011'

In [20]:
~4

-5

In [21]:
~56

-57

In [23]:
20^23

3

In [24]:
45^3

46

In [32]:
#Shift operators(left)- bits shifted towards the left by filling zeroes on right
37 << 3
#shifts 37 by 3 positions towards left

296

In [34]:
bin(37)
#3 zeroes added - 0b100101000

'0b100101'

In [37]:
bin(296)

'0b100101000'

In [38]:
#Right shift operators - bits shifted towards  the right by removing elements from the right
296 >> 3
#removes 3 elements from the right

37

In [39]:
100 >> 2

25

5. Assignment  operators: Assigning significant values to variables.
They are of 5 types:


*   Assignment(=)
*   Addition assignment(+=)
*   Subtraction assignment(-=)
*   Multiplication assignment(*=)
*   Division assignment(%=)
#Examples using assignment operators:

In [42]:
a = 35
a += 3
print(a)

38

In [43]:
s = 21
s -= 1
print(s)

20

In [44]:
z = 13
z *= 2
print(z)

26

In [51]:
b = 10
b /= 5
print((int(b)))

2

In [52]:
q = 20
q %= 2
print(q)

0

In [53]:
h = 5
h **= 2
print(h)

25

In [55]:
f = 4
f %= 3
print(f)

1

6. Membership operators:
They are of 2 types:
*   in
*   not in

Gives output in boolean values(True or False).

#Examples using membership operators:

In [59]:
d = "biodegradable"
"b" in d

True

In [60]:
"e" in d

True

In [62]:
"b" not in d

False

In [63]:
"a" not in d

False

In [64]:
l = ["yes", "no", "no way", "absolutely"]
"yes" in l

True

In [66]:
"you" in l

False

In [67]:
"me" not in l

True

7. Identity operators: Identity operators compares the location of 2 objects or variables.

They are also of 2 types:
*   is
*   is not

They also give output in boolean values(True or False).
#Examples using identity operators:

In [68]:
r = 20
t = 20
r is t

True

In [69]:
r = 20
h = 5
r is h

False

In [70]:
s = 200
q = 200
s is not q

False

#**5. Explain the concept of type casting in Python with examples.**
Type casting refers to changing of format. It can also be called type conversion.
The process of changing the data type of a value/object while executing/ computing using operators, there can be a mismatch between the data and mathematical operations can  only be performed when the data type is same.

In [71]:
#The below 2 executions would show an error.
"Gold" + 100

TypeError: can only concatenate str (not "int") to str

In [72]:
"20" + 1

TypeError: can only concatenate str (not "int") to str

In [73]:
int("20") + 1

21

In [74]:
a = 100
b = "20"
a + int(b)

120

In [80]:
a = 6.7
#a is a float value
int(a)
#float is converted to integer

6

In [88]:
w = "2.89765"
float(w)

2.89765

In [90]:
#Characters/string objects cannot be converted to integers/numbers.
#The below example will show an error.
a = "Rose"
int(a)

ValueError: invalid literal for int() with base 10: 'Rose'

Type casting is divided into 2 types:


*   Implicit type casting: When a program converts a value from one data type to another on it's own.
*   Explicit type casting: Explicit type casting is explicitly defined by the programmer in a program instead od doing it on it's own.


#**6. How do conditional statements work in Python? Illustrate with examples.**
Conditional statements helps code decisions based on some pre-conditions.
They are 4 types:
1. if statement
2. if else statemnt
3. elif statement
4. nested if else statement


1. if statement: if statement conditionally processes a statement and convert to bool(evaluates to true).
While writing statements proper indentation is necessary.
Here, if condition is true the statement is executed or else there is no output.

Syntax:
if condition True:

(  )block of code is executed

(  )--->indentation(4 letter tab space)

In [1]:
favourite_colour = "Scarlet"
if favourite_colour == "Scarlet":
  print("Scarlet is my favourite colour")

Scarlet is my favourite colour

In [2]:
favourite_colour = "Black"
if favourite_colour == "Scarlet":
  print("Scarlet is my favourite colour")

In [3]:
#Multiple conditions in if statement
favourite_colour = "Scarlet"
Chocolate_cake = True
if favourite_colour == "Scarlet" and Chocolate_cake == True:
  print("Scarlet is my favourite colour and I like Chocolate cake")

Scarlet is my favourite colour and I like Chocolate cake

If else statements - If else statements executes the if block when condition is true or else executes else block. Can use more than two conditions.

In [4]:
favourite_colour = "Scarlet"
if favourite_colour == "Scarlet":
  print("Scarlet is my favourite colour")
else:
  print("You guessed it wrong! Try again.")

Scarlet is my favourite colour

In [6]:
favourite_colour = "Yellow"
if favourite_colour == "Scarlet":
  print("Scarlet is my favourite colour")
else:
  print("You guessed it wrong! Try again.")

You guessed it wrong! Try again.

In [7]:
password = "apples@21"
if password == "apples@21":
  print("Access granted")
  print("Welcome to the system")
else:
  print("Access denied")
  print("Try again")

Access granted
Welcome to the system

In [8]:
password = "cherries@21"
if password == "apples@21":
  print("Access granted")
  print("Welcome to the system")
else:
  print("Access denied")
  print("Try again")

Access denied
Try again

In [9]:
num = 87
if num % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

In [11]:
num = 87
if num % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

The number is odd

elif statements: elif is an abbreviation of 'else if' are used to check and execute multiple statements.

Syntax:
if "condition 1"
elif "condition 2"
else "condition 3"

In [14]:
z = 21
if z < 20:
  print("z is less than 20")
elif z > 20:
  print("z is greater than 20")
else:
  print("z is equal to 20")

z is greater than 20

In [13]:
#Multiple elif
score = 90
if score >= 85:
  print("Grade A")
elif(70<=score<85):
  print("Grade B")
elif(55<=score<70):
  print("Grade C")
elif(40<=score<55):
  print("Grade D")
else:
  print("FAIL")

Grade A

Nested if else statements: These statements contains multiple if statements inside if statements.

In [46]:
h = 10
r = 50
if h > 40:
  if r > 40:
    print("Both h and r are greater than 40")
  else:
    print("h is greater than 40 and r is less than 40")
else:
    print("h is less than 40 and r is greater than 40")

h is less than 40 and r is greater than 40

#**7. Describe the different types of loops in Python and their use cases with examples.**
Loop statements: They allow us to execute a block of code repeatedly. Loop statements are of 2 types:

1.   While loop
2.   For loop


1. While loop: Repeatedly executes a set of codes until a condition is met.

Syntax:

while condition:
block of code

#Examples:

In [47]:
count = 10
while count > 0:
  print(count)
  count = count - 1

10
9
8
7
6
5
4
3
2
1

In [48]:
#Break statements: Terminates the loop as soon as the condition is met.
count = 10
while count > 0:
  print(count)
  if count == 5:
    break
  count = count - 1

10
9
8
7
6
5

In [64]:
#Continue statements: These type of statements skips iteration.
count = 10
while count > 0:
  count = count - 1
  if count == 5:
    continue
  print(count)

9
8
7
6
4
3
2
1
0

2. For loop: For loop iterates over a sequence of elements.
(Strings and lists in a sequential order)

Examples:

In [65]:
for i in "biodegradable":
  print(i)

b
i
o
d
e
g
r
a
d
a
b
l
e

In [75]:
l = [1, 2, "Scarlet", "Chocolate", "Elegant"]
for i in l:
  print(i)

1
2
Scarlet
Chocolate
Elegant

In [78]:
l = [1, 2, "Scarlet", "Chocolate", "Elegant"]
for i in l:
  print(i)
else:
    print("The loop has ended")

1
2
Scarlet
Chocolate
Elegant
The loop has ended

In [79]:
#Break statements in 'for' loop
l = [1, 2, "Scarlet", "Chocolate"]
for i in l:
  if i == "Scarlet":
    break
  print(i)
else:
  print("The loop has broken")

1
2

In [80]:
#Continue statements in 'for' loop
#"Scarlet" is skipped
l = [1, 2, "Scarlet", "Chocolate"]
for i in l:
  if i == "Scarlet":
    continue
  print(i)
else:
  print("The loop has continued")

1
2
Chocolate
The loop has continued